@use "sass:string";
@import "themes/default";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

$fg_color: #{'@theme_fg_color'};
$bg_color: #{'@theme_bg_color'};

$border-width: 2px;
$border-radius: 1em;

window.bar {
  color: $fg_color; 
  background-color: $bg_color; 
}
