/*# name: Chicago95
  # Base16 {{scheme-name}}	# Base16 Author: {{scheme-author}}
  # author: Grassmunk
  # author: AdrianoML (rewrite/gtk 3.22 update)
  # author: EMH-Mark-I (rewrite/gtk 3.22/3.24 update)
  # date: February 7th, 2018
  # description: A Windows 95 classic theme for XFCE4. */

/*# variant name: Nashville96 {{scheme-name}}
  # Base16 Author: {{scheme-author}}
  # author: donfaustinocortizone/donfaustino (author of the theme variant)
  # author: Grassmunk (author of Chicago 95)
  # author: matthewmx86 (author of Redmond97)
  # author: morhetz (author of the Gruvbox color scheme)
  # date: October 12th, 2022
  # description: A Windows-like GTK theme based on both Chicago95 (for GTK3) and Redmond97 (for GTK2) incoporating the {{scheme-name}} color scheme.
*/

@define-color base00 #{{base00-hex}};
@define-color base01 #{{base01-hex}};
@define-color base02 #{{base02-hex}};
@define-color base03 #{{base03-hex}};
@define-color base04 #{{base04-hex}};
@define-color base05 #{{base05-hex}};
@define-color base06 #{{base06-hex}};
@define-color base07 #{{base07-hex}};
@define-color base08 #{{base08-hex}};
@define-color base09 #{{base09-hex}};
@define-color base0A #{{base0A-hex}};
@define-color base0B #{{base0B-hex}};
@define-color base0C #{{base0C-hex}};
@define-color base0D #{{base0D-hex}};