[submodule "openbox/COLD_NIGHT/home/USER-NAME-PLACE-HERE/media/wallpapers/wallpapers"]
	path = openbox/COLD_NIGHT/home/USER-NAME-PLACE-HERE/media/wallpapers/wallpapers
	url = git@github.com:SkullGamer205/wallpapers.git
[submodule "awesome/DARK_GRAY/home/user/media/wallpapers"]
	path = awesome/DARK_GRAY/home/user/media/wallpapers
	url = https://codeberg.org/SkullGamer205/skully-wallpapers-collection
[submodule "awesome/dynamic-wip/home/user/bin/rofi-desktop"]
	path = awesome/dynamic-wip/home/user/bin/rofi-desktop
	url = https://github.com/giomatfois62/rofi-desktop
[submodule "awesome/dynamic-wip/home/user/local/share/base16-templates/icons/papirus/papirus-icon-theme"]
	path = awesome/dynamic-wip/home/user/local/share/base16-templates/icons/papirus/papirus-icon-theme
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/
