[submodule "openbox/COLD_NIGHT/home/USER-NAME-PLACE-HERE/media/wallpapers/wallpapers"]
	path = openbox/COLD_NIGHT/home/USER-NAME-PLACE-HERE/media/wallpapers/wallpapers
	url = git@github.com:SkullGamer205/wallpapers.git
