[submodule "openbox/COLD_NIGHT/home/USER-NAME-PLACE-HERE/media/wallpapers/wallpapers"]
	path = openbox/COLD_NIGHT/home/USER-NAME-PLACE-HERE/media/wallpapers/wallpapers
	url = git@github.com:SkullGamer205/wallpapers.git
[submodule "awesome/DARK_GRAY/home/user/media/wallpapers"]
	path = awesome/DARK_GRAY/home/user/media/wallpapers
	url = https://codeberg.org/SkullGamer205/skully-wallpapers-collection
[submodule "awesome/dynamic-wip/home/user/bin/rofi-desktop"]
	path = awesome/dynamic-wip/home/user/bin/rofi-desktop
	url = https://github.com/giomatfois62/rofi-desktop
[submodule "awesome/dynamic-wip/home/user/local/share/base16-templates/icons/papirus/papirus-icon-theme"]
	path = awesome/dynamic-wip/home/user/local/share/base16-templates/icons/papirus/papirus-icon-theme
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/
[submodule "awesome/dynamic-wip/home/user/local/share/base16-templates/themes/oomox"]
	path = awesome/dynamic-wip/home/user/local/share/base16-templates/themes/oomox
	url = https://github.com/themix-project/oomox-gtk-theme
[submodule "awesome/dynamic-wip/home/user/media/wallpapers"]
	path = awesome/dynamic-wip/home/user/media/wallpapers
	url = https://codeberg.org/SkullGamer205/skully-wallpapers-collection
[submodule "openbox/GRUVBOX/usr/share/icons"]
	path = openbox/GRUVBOX/usr/share/icons
	url = https://github.com/SylEleuth/gruvbox-plus-icon-pack
[submodule "awesome/DARK_GRAY/usr/share/icons"]
	path = awesome/DARK_GRAY/usr/share/icons
	url = https://github.com/chistota/neru-icon-classic-theme
