    red:                         #{{base08-hex}};
    blue:                        #{{base0D-hex}};
    lightfg:                     #{{base06-hex}};
    lightbg:                     #{{base01-hex}};
    foreground:                  #{{base06-hex}};
    background:                  #{{base00-hex}};
    background-color:            #00000000;