$base00:            #2C2C2C;
$base01:            #464646;
$base02:            #727272;
$base03:            #9E9E9E;
$base04:            #BFBFBF;
$base05:            #DDDDDD;
$base06:            #F2F2F2;
$base07:            #FFFFFF;

$base08:            #E53935;
$base09:            #FF7043;
$base0A:            #FBC02D;
$base0B:            #4CAF50;
$base0C:            #3c84F7;
$base0D:            #4DB6AC;
$base0E:            #AB47BC;
$base0F:            #E53935;

$background:        $base00;
$background-alt:    $base01;
$foreground:        $base05;
// $background:        #{'@theme_bg_color'};
// $background-alt:    #{'@dark_bg_color'};
// $background-urgent: #{'@warning_bg_color'};
// $foreground:        #{'@theme_fg_color'};
// $foreground-alt:    #{'@dark_fg_color'};

$base:              #{'@theme_base_color'};
