$background:        #{'@theme_bg_color'};
$background-alt:    #{'@dark_bg_color'};
$background-urgent: #{'@warning_bg_color'};
$foreground:        #{'@theme_fg_color'};
$foreground-alt:    #{'@dark_fg_color'};

$base:              #{'@theme_base_color'};
