@use "../abstracts" as *;

@mixin button {
  border: none;
  margin: 2px 4px;
  background-color: $background-alt;

  icon {
    font-size: 14px;
    color: inherit;
  }

  label {
    color: inherit;
  }
}
