@use "sass:color";
@use "../abstracts" as *;
@use "../components/button" as *;
@use "../components/box" as *;

.bar {
  color: $foreground; 

  .centerbox {
    background-color: $background;     
    border: $border-width solid $base02;
    border-radius: $border-radius;
    margin: 120px 8px;
    padding: calc($border-radius / 2) 0;
  }

  .button-launcher {
    @include button;
  }

  .button-tag {
    @include button;
  }

  .button-player {
    @include button;
  }
  
  .button-clock {
    @include button;
    font-weight: bold;
  }

  .button-notification {
    @include button;
  }

  .button-tray {
    @include button;
  }

  .box-xkb {
    @include box;
    font-weight: bold;
  }

  .box-wireless {
    @include box;
  }

  .box-battery {
    @include box;
  }
  
  .button-power {
    @include button;
  }
}
