@use "sass:color";
@use "../abstracts" as *;
@use "../components/button" as *;
@use "../components/box" as *;

$border-width: 2px;
$border-radius: 1em;

.bar {
  color: $foreground; 

  .centerbox {
    background-color: $background; 
    margin: 120px 4px;
  }

  .button-launcher {
    @include button;
  }

  .button-tag {
    @include button;
  }

  .button-player {
    @include button;
  }
  
  .box-clock {
    @include box;
  }

  .button-notification {
    @include button;
  }

  .button-power {
    @include button;
  }
}
