@use "sass:color";
@use "../abstracts" as *;
@use "../components/button" as *;
@use "../components/box" as *;

.subwindow {
  color: $foreground;

  .subwindow-box {
    @include box;
    background-color: $background;
    border: $border-width solid $base02;
    border-radius: $border-radius;
    margin: 120px 0;
    padding: calc($border-radius / 2);
  }

  .launcher-box {
    @include background-box;
    border: $border-width solid $base02;
    border-radius: $border-radius;
    margin: 312px 0;
  }

  .box {
    @include box;
    background-color: $background-alt;     
  }

  .calendar-box {
    @include box;
  }

  .box-outline {
    @include box-outline;
    background-color: $background;     
  }

  .button {
    @include button;
  }

  .button-active {
    @include button;
    background-color: $foreground;     
    color: $background;
  }

}
