@use "sass:string";
@import "themes/default";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

$fg-color: #{'@theme_fg_color'};
$bg-color: #{'@theme_bg_color'};
$clean: #00000000;
$margin-default: 8px;
$b-width: 2px;
$b-rad: 0.5em;

window.bar {
  // all: unset
  color: $fg-color ;
  background-color: $clean;
  centerbox {
    margin: $margin-default $margin-default 0 $margin-default;
    box.bar-leftbox {
      button.btn-launcher {
        background-color: $bg-color;
        border: $b-width solid $fg-color;
        border-radius: $b-rad 0 0 $b-rad; 
        margin: 0 $margin-default 0 0;
      }
      eventbox.ebx-tags {
        background-color: $bg-color;
        border: $b-width solid $fg-color;
        border-radius: 0 0 0 0; 
        margin: 0 0 0 0;
      }
    }
    box.bar-middlebox {
      eventbox.ebx-player {
        box.box-player {
          background-color: $bg-color;
          border: $b-width solid $fg-color;
          border-radius: $b-rad 0 0 $b-rad;
          eventbox.ebx-player {
            background-color: $clean;
          }
        }
      }
      eventbox.ebx-clock {
        box.box-clock {
          background-color: $bg-color;
          border: $b-width solid $fg-color;
          border-radius: 0 0 0 0;
          // padding: 0 0.5em 0 0.5em;
          margin: 0 $margin-default 0 $margin-default;
        }
      }
      box.box-notif {
          background-color: $bg-color;
          border: $b-width solid $fg-color;
          border-radius: 0 $b-rad $b-rad 0;
          button.btn-notif {
            background-color: $clean;
          }
      }
    }
    box.bar-rightbox { 
      box.box-tray {
        background-color: $bg-color;
        border: $b-width solid $fg-color;
        border-radius: $b-rad 0 0 $b-rad;
        button.btn-tray-revealer {
          border: 0px;
          background-color: $clean;
          color: $clean;
        }
      }
      box.box-kbd {
          background-color: $bg-color;
          border: $b-width solid $fg-color;
          border-radius: 0 0 0 0;
          margin: 0 0 0 $margin-default;
      }
      eventbox.ebx-audio {
        box.box-audio {
          background-color: $bg-color;
          border: $b-width solid $fg-color;
          border-radius: 0 0 0 0;
          margin: 0 0 0 $margin-default;
        }
      }
      eventbox.ebx-wireless {
        box.box-wireless {
          background-color: $bg-color;
          border: $b-width solid $fg-color;
          border-radius: 0 0 0 0;
          margin: 0 0 0 $margin-default;
        }
      }
      eventbox.ebx-battery {
        box.box-battery {
          background-color: $bg-color;
          border: $b-width solid $fg-color;
          border-radius: 0 0 0 0;
          margin: 0 0 0 $margin-default;
        }
      }
    }
  }
}

